@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.allnav{
    font-family: 'Sen';
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_button{
    background-color: #1F2939;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.logo_image{
    width: 190px;
}

.activeNav{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 68px;
    padding: 0 12px;
    box-shadow: 0 2px 0 3px rgb(54, 65, 82);
    border-radius: 200px;
    position: fixed;
    z-index: 11;
    top: 0;
    margin-top: 10px;
    background-color: white;
}

.all_nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 68px;
    width: 100%;
    max-width: 1280px;
    padding: 0 32px;
    position: relative;
    z-index: 11;
}

.nav_list_items{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    height: 44px;
    position: relative;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 767px){
    .activeNav{
        box-shadow: none;
    }

    .nav_list{
        display: none;
    }

    .login_button{
        display: none;
    }
    
}